{% extends "base.html" %}

{% block content %}
<div class="grid_4 prefix_2">
<div class="box box-gradient drop-shadow">
    <h2 class="ribbon">Project list</h2>
    <ol>
    {% for project in projects %}
        <li>{{ project }} <a href="{% url build_project project.pk %}">build</a></li>
    {% empty %}
        <li>No projects</li>
    {% endfor %}
    </ol>
</div>
</div>
<div class="grid_4">
    <div class="box box-gradient drop-shadow">
        <h2 class="ribbon">Dashboard</h2>
        <div class="inner-box">
            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}!</h3>
            {% endif %}
            <ul class="activities">
                {% if user.is_authenticated %}
                <li><a class="button" href="{% url logout %}">Logout</a></li>
                {% else %}
                <li><a class="button" href="{% url login %}">Login</a></li>
                {% endif %}
                <li><a class="button add" href="{% url new_project %}">New project</a></li>
            </ul>
        </div>
    </div>
</div>
    
{% endblock content %}
