{% extends "base.html" %}

{% block content %}
<div class="grid_4 prefix_2">
<div class="box box-gradient drop-shadow">
    <h2 class="ribbon">Project list</h2>
    <ol>
    {% for project in projects %}
        <li>{{ project }} <a href="{% url build_project project.pk %}">build</a></li>
    {% empty %}
        <li>No projects</li>
    {% endfor %}
    </ol>
</div>
</div>
<div class="grid_4">
    <div class="box box-gradient drop-shadow">
        <h2 class="ribbon">Dashboard</h2>

        <ul class="activities">
            <li><a class="button disabled" href="{% url new_project %}">Login</a></li>
            <li><a class="button add" href="{% url new_project %}">New project</a></li>
        </ul>
    </div>
</div>
    
{% endblock content %}
